/* link font */
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&family=Open+Sans:ital,wght@0,600;1,300;1,400;1,600&family=Poppins:ital,wght@0,400;0,700;1,100;1,500;1,700&display=swap");

/* link font judul */
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&family=Jim+Nightshade&family=Open+Sans:ital,wght@0,600;1,300;1,400;1,600&family=Poppins:ital,wght@0,400;0,700;1,100;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  /* border: 1px solid rgb(255, 5, 5); */
}

.full-container {
  background-color: #0f1827;
  width: 100vw;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.full-container .Home-page {
  height: 100vh;
  width: 100vw;
}

.full-container .Home-page nav {
  display: flex;
  width: 100vw;
  background-color: #0f1827;
  justify-content: space-between;
  padding: 15px 6%;
  /* background-color: aliceblue; */
  align-items: center;
  border-bottom: 0.5px solid #c08310;
  position: fixed;
}

.full-container .Home-page nav p {
  font-family: "Jim Nightshade", cursive;
  color: #f9a814;
  font-size: 2.5rem;
  filter: drop-shadow(3px 1px 1px rgb(255, 255, 255));
}

.full-container .Home-page nav .link {
  z-index: 1;
}

.full-container .Home-page nav .link li {
  display: inline-block;
  margin: 0 30px;
  justify-content: space-between;
  transition: 0.1s;
}

.full-container .Home-page nav .link li:active {
  transform: scale(0.95);
}

.full-container .Home-page nav .link li a {
  padding: 3px 1px;
  border-radius: 2px;
  transition: all 0.1s;
  color: #fdfdff;
}

.full-container .Home-page nav .link li a:hover {
  border-bottom: 3px solid rgba(216, 216, 216, 1);
}

.full-container .Home-page nav .link li a:active {
  color: #c5c5c5;
}

.full-container .Home-page nav ul li {
  list-style: none;
}

.full-container .Home-page nav ul li a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.full-container .home-page nav ul .logo {
  display: none;
}

.full-container .Home-page nav .contact a {
  padding: 0 15px;
}

.full-container .Home-page nav .link .contact-nav {
  background-color: #f9a814;
  padding: 6px 15px;
  border-radius: 5px;
}

.full-container .Home-page nav .link .logo {
  display: none;
}

.full-container .Home-page nav .link .logo a {
  padding: 0 15px;
}

.contact img {
  display: none;
}
/* akhir       navvvv */

/* awal     menu homee */
.home-page-utama {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  /* background-color: #c08310; */
  padding: 0 6%;
  justify-content: center;
}

.home-page-utama .write-sapaan {
  flex: 2;
  margin-top: 150px;
}

.home-page-utama .write-sapaan h1 {
  font-size: 5.3rem;
  line-height: 72px;
  text-shadow: 3px 2px 3px #c08310;
  transition: all 0.5s;
  cursor: pointer;
}

.home-page-utama .write-sapaan:hover h1 {
  font-size: 5.3rem;
  color: rgba(125, 125, 124, 0.5);
  margin-left: 10px;
  line-height: 72px;
  text-shadow: 50px -10px 3px rgba(192, 131, 16, 0.1);
}

.home-page-utama .write-sapaan h2 {
  font-size: 45px;
  line-height: 70px;
}

.home-page-utama .write-sapaan h2 span {
  color: #f9a814;
}

.home-page-utama .write-sapaan p {
  font-size: 15px;
  margin-bottom: 30px;
}

.home-page-utama .write-sapaan button {
  background-color: #f9a814;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
}

.home-page-utama .write-sapaan button:hover {
  background-color: #c08310;
}

.home-page-utama .write-sapaan button:active {
  background-color: transparent;
  border: 1px solid white;
  transform: scale(0.95);
  color: #f9a814;
}

.home-page-utama .my-images {
  flex: 1;
  display: flex;
  /* background-color: aqua; */
}

.home-page-utama .my-images img {
  width: 390px;
  margin-top: 150px;
  box-sizing: border-box;
  transition: all 0.6s;
}
/* project */
.full-container .project,
.full-container .sertifikat {
  margin-top: 190px;
  padding: 0 6%;
  justify-content: space-between;
}

.full-container .project .kumpulan-project,
.full-container .sertifikat .kumpulan-sertifikat {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.full-container .project h1,
.full-container .sertifikat h1 {
  text-align: center;
  font-size: 3rem;
}

.full-container .project .project-1,
.full-container .sertifikat .sertifikat-1 {
  transition: all 0.3s;
  height: 100%;
  width: 300px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #f9a814;
}

.full-container .project .project-1 img,
.full-container .sertifikat .sertifikat-1 img {
  width: 100%;
  padding: 10px;
}

.full-container .project .project-1 a {
  text-align: center;
  display: block;
  padding: 10px 20px;
  color: #0f1827;
  font-size: 12px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.full-container .project .project-1:hover {
}

footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #293345;
}

/*  */
/*  */
/* responsive */
@media (max-width: 950px) {
  .full-container .Home-page nav .link {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -8px 6px 17px rgba(255, 255, 255, 0.5);
    height: 85vh;
    width: 40%;
    position: absolute;
    right: -100%;
    z-index: 1;
    top: 80.5px;
    transition: all 0.5s;
  }
  .full-container .Home-page nav .link.active {
    /* background-color: aliceblue; */
    height: 85vh;
    width: 50%;
    position: absolute;
    right: 0;
    top: 70.5px;
  }

  .full-container .Home-page nav .link .li-link {
    display: block;
    margin: 50px 25px;
    text-align: left;
  }
  .full-container .Home-page nav .link .li-link a {
    border-bottom: 2px solid rgba(62, 61, 61, 05);
    padding: 10px 230px 10px 0;
    color: #aeaeae;
    transition: all 0.2s;
    font-size: 1.2rem;
  }
  .full-container .Home-page nav .link .li-link a:active {
    transform: scale(0.98);
  }
  .full-container .Home-page nav .link .li-link a:hover {
    padding: 3px 30px 0 2px;
  }
  .full-container .Home-page nav .contact {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
  }

  .contact img {
    display: block;
    margin: 0 15px 0 0;
  }

  .full-container .Home-page nav .contact a {
    display: none;
  }

  .full-container .Home-page nav .link .logo {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: -20px;
    padding: 0 15px;
    border: none;
  }

  .home-page-utama {
    flex-direction: column;
    justify-content: center;
  }
  .home-page-utama .write-sapaan {
    order: 2;
    text-align: center;
    margin-top: 30px;
    /* background-color: #c5c5c5; */
  }

  .home-page-utama .write-sapaan h1 {
    font-size: 5.3rem;
    line-height: 72px;
    text-shadow: 3px 2px 3px #c08310;
    transition: all 0.5s;
    cursor: pointer;
  }

  .home-page-utama .write-sapaan:hover h1 {
    font-size: 5.3rem;
    margin-left: 10px;
    line-height: 10px;
    text-shadow: 50px -10px 3px rgba(192, 131, 16, 0.1);
  }

  .home-page-utama .write-sapaan p {
    font-size: 14px;
  }

  .home-page-utama .my-images img {
    width: 200px;
    margin-top: 150px;
    /* background-color: #c5c5c5; */
  }

  .full-container .project {
    margin-top: 250px;
  }

  .full-container .project {
    margin-top: 10px;
  }
}

@media (max-width: 950px) {
  * {
    font-size: 60%;
  }

  .full-container .Home-page nav .link .contact-nav {
    background-color: #f9a814;
    position: absolute;
    bottom: 2rem;
    text-align: center;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
  }

  .full-container .Home-page nav .link .contact-nav:active {
    background-color: transparent;
    border: 1px solid white;
    transform: scale(0.9);
    transition: all 0.3s;
    color: #f9a814;
  }

  .full-container .Home-page nav .contact {
    width: 10%;
    justify-content: center;
  }

  .full-container .Home-page nav .contact li {
    display: none;
  }

  .home-page-utama .write-sapaan p {
    font-size: 11px;
  }
  .home-page-utama .write-sapaan {
    margin-top: 70px;
  }

  .home-page-utama .write-sapaan h1 {
    font-size: 5.3rem;
    line-height: 12px;
  }

  .home-page-utama .write-sapaan h2 {
    font-size: 45px;
    line-height: 65px;
  }
  .full-container .Home-page nav p {
    font-size: 2.9rem;
  }

  .home-page-utama .my-images img {
    width: 200px;
    margin-top: 100px;
    /* background-color: #c5c5c5; */
  }
}
